<!doctype html>
<html ng-app>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html">
   <title>DSL Grading Dashboard</title>
   <link rel="stylesheet" type="text/css" media="all" href="css/styles.css">

   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>

</head>

<body ng-controller="GitHubCtrl">
   <div id="w">
      <div>
         <h1>DSL Grading Dashboard</h1>
         <h2> (1) Authenticate </h2> <br> 
        <a href="https://github.com/settings/tokens/" target="_blank" id="ghsubmitbtn" >Find Token</a>
        <a href="https://github.com/settings/tokens/new" target="_blank" id="ghsubmitbtn" >Create Token</a>
        <div id="ghapidata" class="clearfix"></div>
      </div>

      <!-- (2) Fill in credentials and get repositories for a given organization -->
      <div>
         <h2> (2) Enter credentials and organization name: </h2> <br>
         <input type="text" id="ghfieldname" ng-model="ghusername" placeholder="GitHub Username">  
         <input type="text" id="ghfieldname" ng-model="ghtoken" placeholder="Personal Access Token">  
         <input type="text" id="ghfieldname" ng-model="orgname" placeholder="Organization Name...">   
        <br>

        <a href="#" id="ghsubmitbtn" ng-click="getReposForOrg()">Load Repositories</a>
        <div id="ghapidata" class="clearfix"></div>
      </div>

      <!-- (2) If no repositories are found  -->
      <div ng-show="orgNotFound">
         <h2>GitHub Organization not found</h2>
      </div>

      <!-- (2) If repositories are found, list out the pull requests -->
      <div ng-show="loaded">
         <div class="ghcontent">
            <p ng-hide="reposFound"></p>
            <div ng-show="reposFound">
               <h2> (3) Choose an Assignment </h2>
               <ul ng-repeat="repo in repos" for="{{repo}}">
                  <label name= "repoLabel" > 
                      <input 
                        type="radio" 
                        name="selectedRepo"
                        ng-model="$parent.selectedRepo"
                        ng-value="{{repo.name}}"
                     required/> 
                     {{repo.name}} 
                  </label>
               </ul>

               <!-- (3) Get pull requests for a given organization + repository -->
               <a href="#" id="ghsubmitbtn" ng-click="getPullRequestsForRepo()">Load Pull Requests</a>
               <div class="clearfix"></div>
            </div>
      </div>

      <!-- (3) If no pull requests are found for this repo -->
      <div ng-show="prNotFound">
         <h2> Pull requests for given repository not found</h2>
      </div>

      <!-- (3) If pull requests are found, list out who -->
      <div ng-show="loaded">
         <div class="ghcontent">
            <p ng-hide="pullsFound"></p>
            <div ng-show="pullsFound">
               <h2> (4) Choose a submission </h2>
               <ul ng-repeat="pull in pulls" for="{{pull}}">
                  <label name= "pullLabel" > 
                      <input 
                        type="radio" 
                        name="selectedPull"
                        ng-model="$parent.selectedPull"
                        ng-value="{{pull.title}}"
                     required/>
                  [{{pull.number}}] | {{pull.title}} | [{{pull.updated_at}}] 
                  </label>
               </ul>

               <!-- (4) Get files from pull requeset -->
               <a href="#" id="ghsubmitbtn" ng-click="getFilesForPullRequest()">Load Files</a>
               <div class="clearfix"></div>
            </div>
      </div>


      <div class="repolist clearfix">
            <p ng-hide="filesFound">No repos!</p>

            <div ng-show="filesFound">
               <h3> Pull Requests </h3>
               <ul ng-repeat="file in files">
                  <li><a href="{{file.html_url}}" target="_blank"> {{file.name}} </a></li>
               </ul>
            </div>
         </div>
      </div>


   



   <script>
   function GitHubCtrl($scope, $http) {
      $scope.getReposForOrg = function() {
         $scope.orgNotFound = false;
         $scope.loaded = false;

         // Call to find repositories         
         $http.get("https://" +
         $scope.ghusername +
         ":" +
         $scope.ghtoken +
         "@api.github.com/orgs/" +
         $scope.orgname + "/repos")
         .success(function (data) {
            if (data.name == "") data.name = data.name;
            $scope.repos = data;
            $scope.loaded = true;
            $scope.reposFound = data.length > 0;
         })
         .error(function () {
            $scope.orgNotFound = true;
         });

      }
      $scope.getPullRequestsForRepo = function() {

         var radios = document.getElementsByName("selectedRepo");
         var labels = document.getElementsByName("repoLabel");
         var selected = "NOT SET"
         for (var i = 0, length = radios.length; i < length; i++) {
             if (radios[i].checked) {
               selected = labels[i].textContent.replace(/ /g,'');
               break;
             }
         }

         $scope.reponame = selected 
         //console.log(selected);

         $scope.prNotFound = false;
         $scope.loaded = false;

         var user = "NOT SET"
         //$scope.studentuser = "NOT SET"

         //Call to find repositories
         $http.get("https://" +
         $scope.ghusername +
         ":" +
         $scope.ghtoken +
         "@api.github.com/repos/" +
         $scope.orgname + "/" +
         selected + 
         "/pulls")
         .success(function (data) {
            if (data.name == "") data.name = data.name;
            $scope.pulls = data;
            user = data.user
            $scope.loaded = true;
            $scope.pullsFound = data.length > 0;
         })
         .error(function () {
            $scope.prNotFound = true;
         });

         // FINDING A WAY TO GET STUDENT USERNAME AND SAVE IT AS A VARIABLE
         // NEED THIS FOR NEXT STEP !
         $scope.studentuser = user 
         console.log($scope.studentuser)


      }

      $scope.getFilesForPullRequest = function() {
         // Files in Repo
         $http.get("https://" +
         $scope.ghusername +
         ":" +
         $scope.ghtoken +
         "@api.github.com/repos/" +
         $scope.studentuser.login + "/" +
         $scope.reponame + 
         "/contents")
         .success(function (data) {
            $scope.files = data;
            $scope.filesFound = data.length > 0;
         })
         .error(function() {
            $scope.fileNotFound = true;
         });
      }

   }
   </script>

</body>
</html>
