<!doctype html>
<html ng-app>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html">
   <title>DSL Grading Dashboard</title>
   <link rel="stylesheet" type="text/css" media="all" href="css/styles.css">

   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>

</head>

<body ng-controller="GitHubCtrl">
   <div id="w">
      <div>
         <h1>DSL Grading Dashboard</h1>
         <h2> (1) Authenticate </h2> <br> 
        <a href="https://github.com/settings/tokens/" target="_blank" id="ghsubmitbtn" >Find Token</a>
        <a href="https://github.com/settings/tokens/new" target="_blank" id="ghsubmitbtn" >Create Token</a>
        <div id="ghapidata" class="clearfix"></div>
      </div>

      <!-- (2) Fill in credentials and get repositories for a given organization -->
      <div>
         <h2> (2) Enter credentials and organization name: </h2> <br>
         <input type="text" id="ghfieldname" ng-model="ghusername" placeholder="GitHub Username">  
         <input type="text" id="ghfieldname" ng-model="ghtoken" placeholder="Personal Access Token">  
         <input type="text" id="ghfieldname" ng-model="orgname" placeholder="Organization Name...">   
        <br>

        <a href="#" id="ghsubmitbtn" ng-click="getReposForOrg()">Load Repositories</a>
        <div id="ghapidata" class="clearfix"></div>
      </div>

      <!-- (2) If no repositories are found  -->
      <div ng-show="orgNotFound">
         <h2>GitHub Organization not found</h2>
      </div>

      <!-- (2) If repositories are found, list out the pull requests -->
      <div ng-show="loaded" ng-controller="GitHubCtrl">
         <div class="ghcontent">
            <p ng-hide="reposFound"></p>
            <div ng-show="reposFound">
               <h3> Repo List </h3>
               <ul ng-repeat="repo in repos">
                  <label> {{repo.name}}
                      <input type="radio" ng-model="reponame" ng-value="{{repo.name}}" value="{{repo.name}}" checked /> 
                  </label>
               </ul>
               <tt>repo = {{selectedRepoName}}</tt><br/>
               <!-- (3) Get pull requests for a given organization + repository -->
               <a href="#" id="ghsubmitbtn" ng-click="getPullRequestsForRepo()">Load Pull Requests</a>
               <div id="ghapidata" class="clearfix"></div>
            </div>
      </div>

      

      <!-- (3) If no pull requests found -->
      <div ng-show="prNotFound">
         <h2>No pull requests found for this repository. </h2>
      </div>
 
      <!-- (3) If pull requests are found -->
      <div ng-show="loaded">
         <div class="ghcontent">
            <p ng-hide="pullsFound"></p>
            <div class="repolist clearfix">
               <div ng-show="pullsFound">
                  <p><strong>Pull Requests:</strong></p>
                  <ul ng-repeat="pull in pulls">
                     <ul>
                        <li>
                          <li><a href="{{pull.html_url}}" target="_blank"> {{pull.name}} </a></li>
                        </li>
                     </ul>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>



   <script>
   function GitHubCtrl($scope, $http) {
      $scope.getReposForOrg = function() {
         $scope.orgNotFound = false;
         $scope.loaded = false;

         // Call to find repositories         
         $http.get("https://" +
         $scope.ghusername +
         ":" +
         $scope.ghtoken +
         "@api.github.com/orgs/" +
         $scope.orgname + "/repos")
         .success(function (data) {
            if (data.name == "") data.name = data.name;
            $scope.repos = data;
            $scope.loaded = true;
            $scope.reposFound = data.length > 0;
         })
         .error(function () {
            $scope.orgNotFound = true;
         });

      }
      $scope.getPullRequestsForRepo = function() {
         $scope.reponame = 'NULL';
         
         console.log($scope);
         
         // console.log($scope.ghusername);
         // console.log($scope.ghtoken);
         // console.log($scope.orgname);
         // console.log($scope.selectedRepo);

         $scope.prNotFound = false;
         $scope.loaded = false;


         // // Set the selected radio button value
         // var repoSelected = document.getElementById("ghfieldname").name;
         // ghfieldname.value = repoSelected;
         // window.alert($scope.reponame);

         // Call to find repositories
         $http.get("https://api.github.com/repos/" + $scope.orgname + "/" 
                                                   + $scope.reponame + "/pulls")
         .success(function (data) {
            if (data.name == "") data.name = data.name;
            $scope.pulls = data;
            $scope.loaded = true;
            $scope.pullsFound = data.length > 0;
         })
         .error(function () {
            $scope.prNotFound = true;
         });

      }

   }
   </script>

</body>
</html>
